@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Penna';
  src: url('../fonts/penna.otf') format('opentype');
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  font-family: 'Lato';
}

.event-timestamp {
  text-align: right;
  color: gray;
  margin-right: 30px;
}

.checkin-status {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  margin: 30px;
}

.checkin-status i {
  font-size: 4em;
  display: block;
}

.checkin-status i {
  margin-right: 10px;
}

.splash {
  background-color: #24262d;
}

/* MOBILE LOGIN VIEW */

.login {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ECF0F1;
  background-size: cover;
  zoom: 1;
  z-index: 0;
}

.login .login-box{
  opacity: .95;
  width: 90%;
  text-align: center;
  margin: 2% auto;
  padding: 30px 18px 10px 18px;
}

.login img {
  width: 37%;
  height: 37%;
}

.login .box-container {
  margin-top: 10%;
  margin-bottom: -18px;
}

.login .input-box, .login .input-box input {
  height: 60px;
  background-color: rgba(255,255,255, .10);
  color: white !important;
}

.login .input-box input {
  background-color: rgba(255,255,255, 0);
  font-weight: bold;
}

.login .input-box{
  position: relative;
  width: 90%;
  text-align: center;
  margin: 5% auto;
  padding: 1px 20px 1px 20px;
}

.login i {
  position: absolute;
  top: 10px;
  left: 25px;
  opacity: .8;
  display: block;
  float: left;
  font-size: 2.5em;
}

.login .input-box i:after {
  content: '|';
  padding-left: 15px;
  opacity: .7;
}

.login .input-button {
  width: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  margin: 10% auto;
  padding: 20px 18px;
  background-color: #3498db;
}

.login .input-button span {
  color: #ECF0F1;
  background-color: #3498DB;
  opacity: .95;
}

.login h1 {
  font-family: 'Penna';
  margin-top: 30px;
  letter-spacing: .118em;
  font-size: 3.5em;
  text-shadow: 0px 1px 5px rgba(255,255,255,0.6);
  font-weight: bold;
  color: white;
  margin-bottom: 0;
  padding-bottom: 0;
}

.login h1 .beta {
  font-family: 'Lato';
  font-size: .3em;
  margin-left: 2px;
  top: -20px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 300;
}

.login h4 {
  font-family: 'LatoLight';
  text-shadow: 0px 1px 5px rgba(0,0,0,0.6);
  color: white;
  opacity: .8;
  margin-top: -25px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.login .divider {
  background-color: #ECF0F1;
  height: 1px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.splash-error {
  text-align: center;
  font-size: 1.5em;
  color: #EC4F43;
  font-weight: bold;
}

.login-signup-switch-mode {
  text-align: center;
}

.login-signup-switch-mode a {
  color: #fff;
  font-weight: bold;
}

.status, .upcoming {
  background-color: gray;
  color: #fff;
  width: 100%;
  text-align: center !important;
}

.status-heading {
  color: #fff;
}

.logo-image {
  text-align: center;
  height: 100px;
  width: 100px;
}

.register {
  color: #34495E !important;
}

input.register {
  font-size: 1.5em;
}

.register.ng-touched.ng-invalid-email, .register.ng-touched.ng-invalid-minlength {
  color: red !important;
}

.input-box ::-webkit-input-placeholder {
  font-family: 'LatoLight';
  opacity: .7;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  padding-top: 4px;
}

.input-box :-moz-placeholder { /* Firefox 18- */
  font-family: 'LatoLight';
  opacity: .7;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  padding-top: 4px;
}

.input-box ::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'LatoLight';
  opacity: .7;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  padding-top: 4px;
}

.input-box :-ms-input-placeholder {
  font-family: 'LatoLight';
  opacity: .7;
  color: #fff;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  padding-top: 4px;
}

.upcoming-datetime {
  float: left;
}

.upcoming-content {
  float: left;
  margin-left: 22%;
  margin-top: 2%;
  font-size: 2em;
}
