<ion-view view-title="CHECKIN MANUALLY">
  <!-- adds 'Back' button to get back to status view -->
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="status manual" ng-class="class">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>

  <div class="current-event">
    <div class="checkin-status row">
        <div class="manual-checkin-info col col-80" ng-cloak>
          <h3>Verify you're here by connecting to WiFi before you checkin.</h3>
          <div class="manual-checkin-button" ng-click="manualCheckin()"><h4>I'M HERE!</h4></div>
          <a>(Having trouble with auto-detection?)</a>
        </div>
    </div>

    <div class="current-event-info row">
      <div class="current-event-info-container col">
        <div class="current-event-name row">
          <div class="col col-10"></div>
          <div class="col col-80">
            <h4>{{event.name.toUpperCase()}}</h4>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="current-event-time row">
          <div class="col col-10">
            <i class="huge wait icon"></i>
          </div>
          <div class="col col-80">
            <h5>{{event.pretty_time}}</h5>
          </div>
          <div class="col col-10"></div>
        </div>
        <div class="current-event-location row">
          <div class="col col-10">
            <i class="huge marker icon"></i>
          </div>
          <div class="col col-80">
            <h5>6th Floor Presentation Area</h5>
          </div>
          <div class="col col-10"></div>
        </div>
      </div>
    </div>

  </div>

  </ion-content>
</ion-view>
