<ion-view view-title="CHECKIN MANUALLY">
  <!-- adds 'Back' button to get back to status view -->
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content class="status manual">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>

  <div class="current-event">
    <div class="checkin-status row">
        <div class="manual-checkin-info col col-80" ng-cloak>
          <h5>Verify you're here by connecting to WiFi before you checkin.</h5>
          <div class="manual-checkin-button" ng-click="manualCheckin()"><span>I'M HERE</span></div>
        </div>
    </div>

    <div class="current-event-info row">
      <div class="current-event-info-container col">
        <div class="current-event-name row">
          <div class="col">
            <h4 class="white">{{event.name.toUpperCase() | limitLength}}</h4>
          </div>
        </div>
        <div class="current-event-time row">
          <div class="col col-10">
            <i class="big wait icon"></i>
          </div>
          <div class="col col-80">
            <h5 class="white">{{event.pretty_time}}</h5>
          </div>
          <div class="col col-10"></div>
        </div>
        <div ng-show="event.location" class="current-event-location row">
          <div class="col col-10">
            <i class="big marker icon"></i>
          </div>
          <div class="col col-80" >
            <h5 class="white">{{event.location | limitLength}}</h5>
          </div>
          <div class="col col-10"></div>
        </div>
      </div>
    </div>

  </div>

  </ion-content>
</ion-view>
