<ion-view view-title="Scanner" hide-nav-bar="true">
  <ion-content class="settings padding">
  <div ng-show="!event.id">

    <div class="row"></div>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">
          <h2>Scan For Beacons</h2>
      <!-- Orders beacons found by major -->
        <div ng-repeat="beacon in beacons | orderBy : 'major'">
          <div>NAME: {{beacon.name}}</div>
          <div>UID: {{beacon.proximityUUID}}</div>
          <div>MAJOR {{beacon.major}}</div>
          <div>MINOR {{beacon.minor}}</div>
          <div>DISTANCE: {{beacon.distance}}</div>
          <br>
        </div>
      </div>
      <div class="col col-10"></div>
    </div>
  </div>
  </ion-content>
</ion-view>
