<ion-view view-title="SETTINGS">
  <ion-content class="settings">

    <div class="list">
      <div class="item">
        <label>NAME</label>
        <h2>{{data.username}}</h2>
      </div>
      <a class="item item-icon-right" href="#" ng-click="updatePassword()">
        <label>PASSWORD</label>
        <h2>••••••</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
      <div class="item">
        <label>EMAIL</label>
        <h2>{{data.email}}</h2>
      </div>
    </div>

    <div class="settings-buttons">
      <div>
        <button class="button button-block disabled" ng-click="refreshBeacons()">DETECT BEACONS</button>
      </div>
      <div>
        <button class="button button-block" ng-click="logout()">LOGOUT</button>
      </div>
      </div>
    </div>

  <!-- uncomment the below for debug area -->

   <!-- <div class="list card">
      <div class="item item-divider">Dev Status Messages</div>
      <div class="item item-body">
        <div id="dev-messages">

        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
