<ion-view view-title="SETTINGS">
  <ion-content class="settings">

  <ion list>
    <a class="item item-icon-left settingsItem" ng-show="!scanning" ng-click="scanBeacons()">
    <i class="icon ion-bluetooth"></i>Detect nearby beacons</a>
   <a class="item item-icon-left settingsItem" ng-show="!scanning" ng-click="logout()"><i class="icon ion-log-out"></i>Logout <span class="item-note">
      {{data.email}}
    </span>
    </a>
  </ion-list>

    <div class="scanningDialog" ng-show="scanning">
      <button class="button scanningButton" ng-click="scanBeacons()">STOP SCANNING </button>

      <!-- Orders beacons found by major -->
      <ul class="beaconList" ng-repeat="beacon in beacons | orderBy : 'major'">
        <li><span class="label">NAME:</span> {{beacon.name}}</li>
        <li><span class="label">UID:</span> {{beacon.proximityUUID}}</li>
        <li><span class="label">MAJOR:</span> {{beacon.major}}</li>
        <li><span class="label">MINOR:</span> {{beacon.minor}}</li>
        <li><span class="label">DISTANCE:</span> {{beacon.distance.toFixed(2) + 'm'}}</li>
      </ul>
    </div>


  <!-- uncomment the below for debug area -->
<!--
   <div class="list card">
      <div class="item item-divider">Dev Status Messages</div>
      <div class="item item-body">
        <div id="dev-messages">

        </div>
      </div>
    </div> -->
  </ion-content>

</ion-view>
