<ion-view view-title="Signup" hide-nav-bar="true">
  <ion-content class="splash padding">
    <div class="login">
      <div class="login-box">
        <img src="img/proximate_v4_white.png">
        <h1>PROXIMATE<sup class="beta">beta</sup></h1>
      </div>
      <div class="box-container">
        <div class="input-box">
          <input id="email" ng-model="data.email" type="email" placeholder="email" class="register" ng-blur="invalidEmail()" ng-change="invalidEmail()">
        </div>
        <div class="input-box">
            <input id="password" ng-model="data.password" type="password" placeholder="password" class="register" ng-minlength="6" ng-required="true" ng-change="invalidPassword()">
        </div>
        <div class="input-box">
            <input id="passwordConfirm" ng-model="data.passwordConfirm" type="password" placeholder="repeat password" class="register" ng-minlength="6" ng-required="true" ng-change="passwordMatch()">
        </div>
      </div>
      <div class="input-button">
        <div class="login-button" ng-click="signup()">SIGN UP</div>
      </div>
      <div class="login-signup-switch-mode">
        <h4><a href="#" ui-sref="splash">or login with your email</a></h4>
      </div>
      <div class="splash-error" ng-show="error">{{error}}</div>
    </div>
  </ion-content>
</ion-view>
