<ion-view view-title="Status" hide-nav-bar="true">
  <ion-content class="status" ng-class="class">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>

  <div class="current-event" ng-show="event.id">
    <div class="checkin-status row">
        <div class="checkin-status-loading" ng-show="event.status===''" ng-cloak>
          <i class="ion-loop"></i>
        </div>
        <!-- status null -->
        <div class="checkin-status-notyet col" ng-show="event.status===null||event.status==='null'||event.status==='none'" ng-cloak>
          <i class="massive spinner loading icon"></i>
          <h1 class="white">NOT HERE YET</h1>
          <h3 class="white">No check in received</h3>
          <div class="manual-checkin-button" ng-click="goToManualCheckin()"><a href="#" ui-sref="tab.manual">CHECK IN MANUALLY</a></div>
        </div>
        <!-- status ontime -->
        <div class="checkin-status-ontime col" ng-show="event.status==='ontime'" ng-cloak>
          <i class="massive checkmark box icon"></i>
          <h1 class="white">ON TIME</h1>
        </div>
        <!-- status late -->
        <div class="checkin-status-late col" ng-show="event.status==='late'" ng-cloak>
          <i class="massive clock icon"></i>
          <h1 class="white">LATE</h1>
        </div>
        <!-- status absent -->
        <div class="checkin-status-absent col" ng-show="event.status==='absent'" ng-cloak>
          <i class="massive warning sign icon"></i>
          <h1 class="white">UNEXCUSED ABSENCE</h1>
        </div>
        <!-- status excused -->
        <div class="checkin-status-excused col" ng-show="event.status==='excused'" ng-cloak>
          <i class="massive checkmark box icon"></i>
          <h1 class="white">EXCUSED ABSENCE</h1>
        </div>
    </div>

    <div class="current-event-info row">
      <div class="current-event-info-container col">
        <div class="current-event-name row">
          <div class="col">
            <h4 class="white">{{event.name.toUpperCase() | limitLength }}</h4>
          </div>
        </div>
        <div class="current-event-time row">
          <div class="col col-10">
            <i class="big wait icon statusIcon"></i>
          </div>
          <div class="col col-80">
            <h5 class="white">{{event.pretty_time}}</h5>
          </div>
          <div class="col col-10"></div>
        </div>
        <div ng-show="event.location " class="current-event-location row">
          <div class="col col-10">
            <i class="big marker icon statusIcon"></i>
          </div>
          <div class="col col-80">
            <h5 class="white">{{event.location | limitLength }}</h5>
          </div>
          <div class="col col-10"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="status-nothing-scheduled current-event" ng-show="!event.id">

    <div class="row"></div>

    <div class="row status-nothing-scheduled-content">
      <div class="col">
        <i class="huge calendar icon"></i>
        <h1 class="white">NOTHING SCHEDULED</h1>
        <h3 class="white">No events within the hour</h3>
      </div>
    </div>
  </div>

  </ion-content>
</ion-view>
