<ion-view view-title="EVENT LOG">
  <ion-content class="upcoming">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>

    <div class="event-log-content">

      <!-- no events to show -->
      <div ng-hide="filteredEvents.length" class="no-upcoming">
        <i class="huge calendar icon"></i>
        <h2>NOTHING SCHEDULED</h2>
      </div>

      <!-- events list -->
      <div class="events-list">
        <div class="list">
          <div ng-repeat="event in filteredEvents = (data.events | orderBy: eventsOrder | eventsFilter: eventsFilterSetting | filterCancelledEvents)" class="item">
            <div class="events-list-info" >
              <h2>{{event.name  | limitLength }}</h2>
              <h3>{{event.start_time | date:'EEE, MMM d, yyyy \| h:mm a'}}</h3>
            </div>
            <div ng-switch on="event._pivot_status">
              <div ng-switch-default></div>
              <div ng-switch-when="late" class="events-list-status late">late</div>
              <div ng-switch-when="ontime" class="events-list-status ontime">ontime</div>
              <div ng-switch-when="absent" class="events-list-status absent">absent</div>
              <div ng-switch-when="excused" class="events-list-status excused">excused</div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>

  <!-- filters -->
  <ion-footer-bar class="bar-stable events-filter">
    <div class="button-bar events-filter-buttons">
      <button class="button"
              ng-click="eventsFilterSetting='past'; eventsOrder='-start_time'"
              ng-class="{active: eventsFilterSetting==='past'}">
              PAST
      </button>
      <button class="button"
              ng-click="eventsFilterSetting='upcoming'; eventsOrder='start_time'"
              ng-class="{active: eventsFilterSetting==='upcoming'}">
              UPCOMING
      </button>
    </div>
</ion-footer-bar>
</ion-view>
