<ion-view view-title="EVENT LOG">
  <ion-content class="upcoming">
  <ion-refresher pulling-text="pull to refresh" on-refresh="doRefresh()">
  </ion-refresher>

    <div class="event-log-content">

      <!-- no events to show -->
      <div ng-show="data.events.length===0" class="no-upcoming">
        <h2>No events found!</h2>
        <h3>try refreshing if you expected some</h3>
      </div>

      <!-- events list -->
      <div class="events-list">
        <div class="list">
          <div ng-repeat="event in filteredEvents = (data.events | eventsFilter: eventsFilterSetting)" class="item">
            <div class="events-list-info">
              <!-- double event.event syntax is due to server join -->
              <h2>{{event.event.name.toUpperCase() | limitLogTitle}}</h2>
              <h3>{{event.event.start_time | date:'EEEE, MMMM d, yyyy'}}</h3>
            </div>
            <div class="events-list-status no-data" ng-show="!event.status || event.status === 'none'">
              no data
            </div>
            <div class="events-list-status" ng-class="event.status" ng-show="event.status">
              {{event.status}}
            </div>
          </div>
        </div>
        <div class="no-upcoming" ng-show="!filteredEvents.length && data.events.length > 0">
          <h2>No upcoming events found!</h2>
          <h3>try refreshing if you expected some</h3>
        </div>
      </div>

    </div>

  </ion-content>

  <!-- filters -->
  <ion-footer-bar class="bar-stable events-filter">
    <div class="button-bar events-filter-buttons">
      <button class="button"
              ng-click="eventsFilterSetting='upcoming'"
              ng-class="{active: eventsFilterSetting==='upcoming'}">
              UPCOMING
      </button>
      <button class="button"
              ng-click="eventsFilterSetting='all'"
              ng-class="{active: eventsFilterSetting==='all'}">
              ALL
      </button>
    </div>
<!--   <div class="buttons" ng-click="doSomething()">
    <button class="button">ALL</button>
  </div> -->
</ion-footer-bar>
</ion-view>
